a,
a:focus,
a:hover {
  color: #fff;
}


html,
body {
  background-color: #333;
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 55em;
}

#message-box{
  min-height: 15em;
  max-height: 18em;
  font-size: .80em;
  background-color: white;
}

#resume-button {
    box-shadow: inset 5px 5px 15px 3px #2f5428;
    background: -moz-linear-gradient(center top, #3e7035 5%, #4d8c42 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$kiu-button-color', endColorstr='$kiu-button-lighter-color');
    background-color: #3e7035;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    text-indent: 0;
    display: inline-block;
    color: #e1e9df;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 40px;
    line-height: 40px;
    width: 120px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 1px 0px black
}

#btn-delete-all{
  height: fit-content;
  height: -moz-fit-content;
}